/* Általános beállítások */
body {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.blackjackmenu {
    padding: 30px;
}

/* Játékterület és a többi box beállítása */
.gameboard {
    border: 2px solid #16a085;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #34495e;
}

.betarea, .playarea {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #1abc9c;
}

.betarea {
    height: 150px;
}

.playarea {
    height: 300px;
}

.leaderboard {
    padding: 20px;
    background-color: #e74c3c;
    border-radius: 10px;
    border: 2px solid #c0392b;
}

.btn {
    display: inline-block;
    padding: .375rem, .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    background: #333;
}
.red {
    color: red;
}

.big {
    font-size: 3em;
    text-align: center;
}

.tiny {
    font-size: 1.2em;
    vertical-align: top;
    text-align: left;
}

.card {
    display: inline-block;
    margin: auto;
    padding: 20px;
    height: 120px;
    width: 90px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px #333;
    margin: 5px;
}

.score{
    display: block;
    font-size: 2em;
    margin: 15px 0;
}

.cardB {
    position: absolute;
    margin: auto;
    top: 113px;
    left: 9px;
    padding: 20px;
    height: 120px;
    width: 90px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px #333;
    margin: 5px;
}

/* Mobilbarát stílus */
@media (max-width: 768px) {
    .betarea, .playarea {
        height: auto;
    }
}